.App {
    text-align: left;
}

.App-content {
    margin-top: 10%;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: rgba(251, 48, 82, 1);
    height: 30px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
    margin-left: 5%;
}

.App-intro {
    font-size: large;
}

.App-center {
    text-align: center;
}

.App-right {
    text-align: right;
}

.App-gray-button {
    color: gray;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.Button-materias-select {
    color: white!important;
    border-color: #f50057!important;
    background-color: #f50057!important;
}
